.releases {
  &_title {
    text-align: center;
    margin-bottom: 55px;
  }

  &_wrap {
    position: relative;
  }

  &_list {
    position: relative;

    .slick-dots {
      position: relative;
      bottom: -22px;
    }

    .slick-list {
      margin: 0 -12px;
    }

    .slick-track {
      margin: 0 0;
    }
  }

  &_item {
    display: inline-block;
    max-width: 100%;

    &:hover {
      img {
        transform: scale(1.1);
      }
    }

    &_info {
      font-size: 18px;
      line-height: 1.22;
      color: $secondaryColor;
      font-weight: 700;
      margin-bottom: 16px;

      span {
        &::after {
          content: '';
          width: 4px;
          height: 4px;
          border-radius: 50%;
          display: inline-block;
          vertical-align: middle;
          margin: 0 6px;
          background-color: $secondaryColor;
        }

        &:last-child {
          &::after {
            display: none;
          }
        }
      }
    }

    &_img {
      width: 267px;
      height: 267px;
      padding: 24px;
      max-width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: $darkColor;
      box-shadow: 0 20px 20px rgba(0, 0, 0, 0.2);
      border-radius: 4px;
      margin-bottom: 16px;

      img {
        transition: 0.3s ease;
        transform-origin: center center;
      }
    }

    &_type {
      font-size: 18px;
      line-height: 1.22;
      color: $secondaryColor;
      font-weight: 700;
      margin-bottom: 8px;
    }

    &_name {
      font-size: 24px;
      font-weight: 700;
      color: $whiteColor;
      line-height: 1.25;
      max-width: 267px;
    }
  }

  &_item-wrap {
    padding: 0 12px;
  }

  &_nav {
    display: none;

    &.slick-arrow {
      display: block;
    }
  }
}


@media (max-width: 960px) {
  .releases {
    &_title {
      margin-bottom: 40px;
    }

    &_list {
      .slick-dots {
        bottom: -33px;
      }
    }
  }
}

@media (max-width: 768px) {
  .releases {
    &_title {
      margin-bottom: 27px;
      text-align: left;
      padding: 0 22px;
    }

    &_item-wrap {
      padding: 0;
      margin-bottom: 25px;

      &:last-child {
        margin-bottom: 0;
      }
    }

    &_item {
      width: 100%;
      &_name {
        max-width: 100%;
      }
    }
  }
}