doctype html
include parts/head
link(href='./css/about.css' rel='stylesheet')
body
    .main-wrap.about
        include parts/header
        .page-content.common-page
            .container
                .common-page_title О группе
                .about_logo
                    .about_logo_main
                    .about_logo_bot
                        img(src="/images/bot-logo.svg" alt="Оргия праведников")
                .about_content
                    p Музыка, тексты и стилистика Оргии Праведников далеко не для всех. Именно поэтому группа, которая существует достаточно давно, относится к андеграунд-сцене.
                    p Эта музыка для тех кто «в теме», кто владеет материалом, кто понимает отсылки, расшифровывает намеки и заигрывания. Сложно определить их в какой-то стиль, ведь музыканты постоянно экспериментируют. Много инструментов, много пластов материала, мощный вокал и подача – сплошное удовольствие для ценителя.
                    p Их творчество как нельзя лучше подчеркнуто названием, и тут не нужно пугаться, потому что это оргия интеллекта и эстетики, не иначе. Вы ищете что-то необычное, заставляющее разбирать текст по словосочетаниям и докапываться до истины, наслаждаясь музыкальной гармонией и образами? Значит, Оргия Праведников сможет вас удивить, а возможно, даже покорить ваше сердце.
        include parts/footer
    script(src='./js/jquery.min.js')
    script(src='./js/script.js')