doctype html
include parts/head
link(href='./css/article.css' rel='stylesheet')
body
    .main-wrap.article
        include parts/header
        .page-content.common-page
            .container
                .common-page_title-wrap
                    a(href="#").common-page_back-link
                    .common-page_title
                        | «Оргия Праведников»:
                        br
                        | «Это наш лучший альбом!»
                .article_date 20.10.2020
                .article_content
                    img(src="/assets/example/article2.jpg" alt="")
                    p 1 октября выходит седьмой полноформатный студийный альбом «Время будить королей». Средства на его выпуск дал краудфандинг, кроме того, выпуск альбома поддержали бизнес-структуры. В альбом вошли 12 треков (три из них - инструментальные), плюс два скрытых бонус-трека. До 1 октября группа выложит каждый из треков для прослушивания, а затем выйдет и сам альбом во всех форматах, включая lossless.
                    cite «Многие народы мира рассказывают легенду о Спящем Короле - где-то под горой, в пещере, он спит вместе со своими воинами, его борода отросла до самой земли, в руках он держит меч и ждёт часа Последней Битвы. Битвы, в которой для окончательного решения судеб мира сойдутся в схватке силы добра и зла.
                    p 1 октября выходит седьмой полноформатный студийный альбом «Время будить королей». Средства на его выпуск дал краудфандинг, кроме того, выпуск альбома поддержали бизнес-структуры. В альбом вошли 12 треков (три из них - инструментальные), плюс два скрытых бонус-трека. До 1 октября группа выложит каждый из треков для прослушивания, а затем выйдет и сам альбом во всех форматах, включая lossless.
                    img(src="/assets/example/article2.jpg" alt="")
                    h1 Текст
                        h2 Текст
                        h3 Текст
                        h4 Текст
                        h5 Текст
                        h6 Текст
        include parts/footer
