doctype html
include parts/head
link(href='./css/cart.css' rel='stylesheet')
link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/magnific-popup.js/1.1.0/magnific-popup.min.css" integrity="sha512-+EoPw+Fiwh6eSeRK7zwIKG2MA8i3rV/DGa3tdttQGgWyatG/SkncT53KHQaS5Jh9MNOT3dmFL0FjTY08And/Cw==" crossorigin="anonymous")
body
    .main-wrap.cart
        include parts/header
        .page-content.common-page
            .container
                .common-page_title Корзина
                .cart_items
                    .cart_item
                        .cart_item_img
                            img(src="/sample/example/product1.png" alt="")
                        .cart_item_info
                            .cart_item_section-title Позиция
                            .cart_item_name Время будить королей
                            .cart_item_descr Мужская, размер Х, Белая
                            .cart_item_counter
                                .counter.js-counter
                                    .counter_btn.counter_btn--inc(data-type='inc')
                                    .counter_field
                                        input(type="text" name="count" readonly value="1")
                                    .counter_btn.counter_btn--dec.disabled(data-type='dec')
                        .cart_item_price
                            .cart_item_section-title Цена
                            span 400 руб.
                        .cart_item_total
                            .cart_item_section-title Итог
                            span 800 руб.
                        .cart_item_remove

                    .cart_item
                        .cart_item_img
                            img(src="/sample/example/product2.png" alt="")
                        .cart_item_info
                            .cart_item_section-title Позиция
                            .cart_item_name Время будить королей
                            .cart_item_descr Мужская, размер Х, Белая
                            .cart_item_counter
                                .counter.js-counter
                                    .counter_btn.counter_btn--inc(data-type='inc')
                                    .counter_field
                                        input(type="text" name="count" readonly value="1")
                                    .counter_btn.counter_btn--dec.disabled(data-type='dec')
                        .cart_item_price
                            .cart_item_section-title Цена
                            span 400 руб.
                        .cart_item_total
                            .cart_item_section-title Итог
                            span 800 руб.
                        .cart_item_remove

                    .cart_item-delivery
                        .cart_item-delivery_img
                        .cart_item-delivery_info Доставка
                        .cart_item-delivery_total 300 руб.
                    .cart_item-total
                        .cart_item-total_text Итого
                        .cart_item-total_value 1900 руб.

                .cart_form
                    .cart_form_content
                        .cart_form_col
                            .cart_form_field
                                .cart_form_field_title Имя
                                input(type="text" name="name" placeholder="Имя")
                            .cart_form_field
                                .cart_form_field_title Фамилия
                                input(type="text" name="lastname" placeholder="Фамилия")
                            .cart_form_field
                                .cart_form_field_title Отчество
                                input(type="text" name="middlename" placeholder="Отчество")
                            .cart_form_field
                                .cart_form_field_title Email
                                input(type="text" name="email" placeholder="Email")
                            .cart_form_field
                                .cart_form_field_title Телефон
                                input(type="text" name="phone" placeholder="Телефон")
                        .cart_form_col
                            .cart_form_field
                                .cart_form_field_title Ваш город
                                .switch
                                    .switch_value
                                        input(type="radio" name="city" checked value="Moscow" id="msk")
                                        label(for="msk") Москва
                                    .switch_value
                                        input(type="radio" name="city" value="Moscow" id="other-city")
                                        label(for="other-city") Другой
                            .cart_form_field
                                .cart_form_field_title Доставка
                                .select
                                    select
                                        option(value="1") Курьером в пределах МКАД (+300 руб)
                                        option(value="2") Вариант 2
                                        option(value="3") Вариант 3
                                        option(value="4") Вариант 4
                            .cart_form_field
                                .cart_form_field_title Адрес
                                input(type="text" name="address" placeholder="Адрес")
                            .cart_form_field
                                .cart_form_field_title Комментарий
                                textarea(placeholder="Комментарий" name="comment")
                    .cart_form_submit
                        button(type="submit").btn Купить
        include parts/footer
        a(class="popup-modal" href="#modal-success-order" style="color: #fff;") SHOW SUCCESS ORDER MODAL
        a(class="popup-modal" href="#modal-add-to-cart" style="color: #fff;") SHOW ADD TO CART MODAL
        .modal#modal-success-order
            .modal_logo
            .modal_title Спасибо за заказ
            .modal_success
            .modal_text Мы получили Ваш заказ и наш менеджер свяжется с Вами для уточнения деталей заказа в ближайшее время.
        .modal#modal-add-to-cart
            .modal_logo
            .modal_title Товар добавлен <br> в корзину
    script(src='./js/jquery.min.js')
    script(src="https://cdnjs.cloudflare.com/ajax/libs/magnific-popup.js/1.1.0/jquery.magnific-popup.min.js" integrity="sha512-IsNh5E3eYy3tr/JiX2Yx4vsCujtkhwl7SLqgnwLNgf04Hrt9BT9SXlLlZlWx+OK4ndzAoALhsMNcCmkggjZB1w==" crossorigin="anonymous")
    script(src='./js/script.js')
