doctype html
include parts/head
link(href='./css/concerts.css' rel='stylesheet')
body
    .main-wrap.concerts
        include parts/header
        .page-content.common-page
            .common-page_title Концерты
            .concerts-list
                .concerts-list_wrap.container
                    .concerts-list_section
                        .concerts-list_period Ноябрь, 2020
                        .concerts-list_items
                            .concerts-list_item
                                .concerts-list_item_section
                                    .concerts-list_item_date
                                        .concerts-list_item_main-info 01 Ноября
                                        .concerts-list_item_details Пт, 19:00
                                    .concerts-list_item_name
                                        .concerts-list_item_main-info Большой акустический концерт
                                    .concerts-list_item_location
                                        .concerts-list_item_main-info Санкт-Петербург
                                        .concerts-list_item_details Ледовый дворец
                                a(href="").concerts-list_item_btn.btn  Купить билет


                            .concerts-list_item
                                .concerts-list_item_section
                                    .concerts-list_item_date
                                        .concerts-list_item_main-info 15 Ноября
                                        .concerts-list_item_details Пн, 19:00
                                    .concerts-list_item_name
                                        .concerts-list_item_main-info Традиционный дачник под Звенигородом!
                                    .concerts-list_item_location
                                        .concerts-list_item_main-info Звенигород
                                        .concerts-list_item_details Стадион
                                a(href="").concerts-list_item_btn.btn  Купить билет


                            .concerts-list_item
                                .concerts-list_item_section
                                    .concerts-list_item_date
                                        .concerts-list_item_main-info 15 Ноября
                                        .concerts-list_item_details Пн, 19:00
                                    .concerts-list_item_name
                                        .concerts-list_item_main-info Традиционный дачник под Звенигородом!
                                    .concerts-list_item_location
                                        .concerts-list_item_main-info Звенигород
                                        .concerts-list_item_details Стадион
                                a(href="").concerts-list_item_btn.btn  Купить билет


                    .concerts-list_section
                        .concerts-list_period Декабрь, 2020
                        .concerts-list_list
                            .concerts-list_item
                                .concerts-list_item_section
                                    .concerts-list_item_date
                                        .concerts-list_item_main-info 01 Ноября
                                        .concerts-list_item_details Пт, 19:00
                                    .concerts-list_item_name
                                        .concerts-list_item_main-info Большой акустический концерт
                                    .concerts-list_item_location
                                        .concerts-list_item_main-info Санкт-Петербург
                                        .concerts-list_item_details Ледовый дворец
                                a(href="#").concerts-list_item_btn.btn  Купить билет
                            .concerts-list_item
                                .concerts-list_item_section
                                    .concerts-list_item_date
                                        .concerts-list_item_main-info 15 Ноября
                                        .concerts-list_item_details Пн, 19:00
                                    .concerts-list_item_name
                                        .concerts-list_item_main-info Традиционный дачник под Звенигородом!
                                    .concerts-list_item_location
                                        .concerts-list_item_main-info Звенигород
                                        .concerts-list_item_details Стадион
                                a(href="#").concerts-list_item_btn.btn  Купить билет


        include parts/footer