doctype html
include parts/head
link(href='./css/news.css' rel='stylesheet')
body
    .main-wrap.news
        include parts/header
        .page-content.common-page
            .container
                .common-page_title Новости
                .dropdown.js-dropdown.tablet-only
                    .dropdown_active.js-dropdown-current Анонсы
                    .dropdown_list.js-dropdown-list
                        .dropdown_list_item(data-value="Анонсы").active Анонсы
                        .dropdown_list_item(data-value="Новости") Новости
                        .dropdown_list_item(data-value="Рецензии") Рецензии
                ul.common-page_tabs
                    li.common-page_tabs_item.active
                        a(href="#") Анонсы
                    li.common-page_tabs_item
                        a(href="#") Новости
                    li.common-page_tabs_item
                        a(href="#") Рецензии
                .news_container
                    - for(var i = 0; i < 5; i++)
                        a(href="#").news_item
                            .news_item_date 16.10.2020
                            .news_item_img
                                img(src="/sample/example/news1.jpg" alt="")
                            .news_item_type Анонс
                            .news_item_title Анонс интервью «Оргия Праведников»: «Это наш лучший альбом!»
                            .news_item_text 1 октября выходит седьмой полноформатный студийный альбом «Время будить королей». Средства на его выпуск дал краудфандинг, кроме того, выпуск альбома поддержали бизнес-структуры.

                .news_load-more
                    button.btn Показать больше
        include parts/footer
    script(src='./js/jquery.min.js')
    script(src='./js/script.js')

