doctype html
include parts/head
link(href='./css/releases.css' rel='stylesheet')
body
    .main-wrap.releases-page
        include parts/header
        .page-content.common-page
            .container
                .common-page_title Релизы
                .common-page_tabs
                    .common-page_tabs_item.active Альбомы
                    .common-page_tabs_item Видео
                    .common-page_tabs_item Single
                    .common-page_tabs_item Сборник
                .releases
                    a(href="/album.html").releases_item
                        .releases_item_info
                            span 2020
                            span 14 треков
                        .releases_item_img
                            img(src="/assets/example/album1.png" alt="")
                        .releases_item_type Альбом
                        .releases_item_name Время будить королей

                    a(href="/album.html").releases_item
                        .releases_item_info
                            span 2020
                            span 14 треков
                        .releases_item_img
                            img(src="/assets/example/album2.png" alt="")
                        .releases_item_type Альбом
                        .releases_item_name #джастстудио

                    a(href="/album.html").releases_item
                        .releases_item_info
                            span 2020
                            span 14 треков
                        .releases_item_img
                            img(src="/assets/example/album3.png" alt="")
                        .releases_item_type Альбом
                        .releases_item_name Пламя изнутри

                    a(href="/album.html").releases_item
                        .releases_item_info
                            span 2020
                            span 14 треков
                        .releases_item_img
                            img(src="/assets/example/album4.png" alt="")
                        .releases_item_type Альбом
                        .releases_item_name Для тех, кто видит сны. Vol.2

                    a(href="/album.html").releases_item
                        .releases_item_info
                            span 2020
                            span 14 треков
                        .releases_item_img
                            img(src="/assets/example/album1.png" alt="")
                        .releases_item_type Альбом
                        .releases_item_name Время будить королей


                    a(href="/album.html").releases_item
                        .releases_item_info
                            span 2020
                            span 14 треков
                        .releases_item_img
                            img(src="/assets/example/album2.png" alt="")
                        .releases_item_type Альбом
                        .releases_item_name #джастстудио

                    a(href="/album.html").releases_item
                        .releases_item_info
                            span 2020
                            span 14 треков
                        .releases_item_img
                            img(src="/assets/example/album3.png" alt="")
                        .releases_item_type Альбом
                        .releases_item_name Пламя изнутри

                    a(href="/album.html").releases_item
                        .releases_item_info
                            span 2020
                            span 14 треков
                        .releases_item_img
                            img(src="/assets/example/album4.png" alt="")
                        .releases_item_type Альбом
                        .releases_item_name Для тех, кто видит сны. Vol.2

        include parts/footer
    script(src='./js/jquery.min.js')
    script(src='./js/script.js')