doctype html
include parts/head
link(href='./css/album.css' rel='stylesheet')
body
    .main-wrap.album
        include parts/header
        .album_background(style="background-image: url('/assets/example/album1.png')")
        .page-content.common-page
            .container
                .common-page_title-wrap
                    a(href="#").common-page_back-link
                    .common-page_title Время будить королей
                .album_details
                    span 2020
                    span Время будить королей
                    span 14 треков
                .album_content
                    .album_img-wrap
                        .album_img
                            img(src="/assets/example/album-example.jpg" alt="")
                    .album_info
                        .album_info_title Слушайте на стриминг платформах:
                        .album_info_platforms
                            a.stream-item.stream-item--vk(href="#")
                            a.stream-item.stream-item--ytbm(href="#")
                            a.stream-item.stream-item--boom(href="#")
                            a.stream-item.stream-item--ym(href="#")
                            a.stream-item.stream-item--aplm(href="#")
                            a.stream-item.stream-item--spotify(href="#")
                            a.stream-item.stream-item--ytb(href="#")
                        .album_track-text
                            p
                                |Это песни жажды небесных брашен
                                br
                                |Это песни текущих к истокам рек
                                br
                                |Это песни стражи внутренних башен
                                br
                                |Поражаемых громом из века в век
                                br
                            p
                                | Это песни танца огня и бронзы
                                br
                                | Песни пламени имени Полной Луны
                                br
                                | Это песни стрел, уходящих к Солнцу
                                br
                                | Это песни победы, летящие с Той Стороны
                            p
                                | Наши руки служили огню и камню
                                br
                                | Наши волосы бились в семи ветрах
                                br
                                | И мы ведали волок до Белой Ламбы
                                br
                                | Через Лох-да-Айрбрех, через Гарб-Тонах
                            p
                                | Наши соколы с неба падают градом
                                br
                                | И встают волками в снегах полей
                                br
                                | Мы пришли сказать тебе — Хей, Хей Ладо!
                                br
                                | Люли — Хей Ладо — Время будить Королей!
                            p
                                | Посолонь, посолонь — противосолонь
                                br
                                | Посолонь, посолонь — противосолонь

        include parts/footer


