.footer
    .container
        a(href="/").footer_logo
        .footer_nav
            a(href="/about.html") О группе
            a(href="/concerts.html") Концерты
            a(href="/shop.html") Магазин
            a(href="/releases.html") Релизы
            a(href="/news.html") Новости
            a(href="/press-kit.html") Пресс-кит
        .footer_section
            .footer_sn
                a(href="#").sn.sn--vk
                a(href="#").sn.sn--fb
                a(href="#").sn.sn--inst
            .lang.js-lng
                .lang_selected RU
                .lang_list
                    .lang_list_item(data-lng="Fr") French
                    .lang_list_item(data-lng="En") English
                    .lang_list_item(data-lng="Sp") Spanish
                    .lang_list_item.active(data-lng="Ru") Russian

        .footer_tm ОРГИЯ ПРАВЕДНИКОВ | 2020