.header
    .header_mobile
        .header_mobile-logo
        .header_mobile-burger.js-burger
            span
            span
            span
            span
    .header_content.js-header
        .header_streams
            .header_streams_wrap.container
                .header_streams_text Оргия Праведников на стриминг платформах:
                .header_streams_list
                    a.stream-item.stream-item--vk(href="#")
                    a.stream-item.stream-item--ytbm(href="#")
                    a.stream-item.stream-item--boom(href="#")
                    a.stream-item.stream-item--ym(href="#")
                    a.stream-item.stream-item--aplm(href="#")
                    a.stream-item.stream-item--spotify(href="#")
                    a.stream-item.stream-item--ytb(href="#")
        .header_main
            .header_main_wrap.container
                a(href="/").header_logo
                .header_nav
                    a(href="/about.html") О группе
                    a(href="/concerts.html") Концерты
                    a(href="/shop.html") Магазин
                    a(href="/releases.html") Релизы
                .header_section
                    .header_social
                        a(href="#").sn.sn--vk
                        a(href="#").sn.sn--fb
                        a(href="#").sn.sn--inst
                    a(href="/cart.html").header_cart
                        span.count 2