@import "./main/vars";
@import "./main/common";
@import "./main/concerts-list";


.concerts-list {
  padding-top: 50px;
  padding-bottom: 65px;
}

@media(max-width: 768px) {
  .concerts-list {
    padding-top: 36px;
    padding-bottom: 124px;
  }
}