@import "./main/vars";
@import "./main/common";
@import "./main/releases";

.releases-page {

  .releases {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    row-gap: 61px;
    column-gap: 24px;
    margin-top: 46px;
  }
}


