@import "./main/vars";
@import "./main/common";
@import "./main/merch";

.shop {
  .merch {
    margin: 90px 0;

    &_img {
      margin-right: 75px;
    }

    &_content {
      margin-bottom: 50px;

      &:last-child {
        margin-bottom: 0;
      }
    }
  }
}

@media (max-width: 960px) {
  .shop {
    .merch {
      margin: 30px 0 0 ;
      padding-bottom: 60px;

      &_content {
        align-items: flex-start;
      }

      &_img {
        margin-right: 64px;
        height: auto;
        margin-top: 24px;
      }
    }
  }
}


@media (max-width: 768px) {
  .shop {
    .merch {
      padding-bottom: 32px;

      &_img {
        margin-right: 0;
        margin-top: 0;
      }

      &_item {
        margin-top: 28px;
      }
    }
  }
}