@import "./main/vars";
@import "./main/common";


.press-kit {
  .header {
    background-color: $bgColor;

    &_streams {
      display: none;
    }

    &_main {
      &_wrap {
        height: 90px;
      }
    }
  }

  &_start {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: relative;

    &_title {
      font-weight: 700;
      font-size: 28px;
      line-height: 1.21;
      letter-spacing: 2px;
      color: #fff;
      text-align: center;
      text-transform: uppercase;
      margin-bottom: 90px;
    }

    &_logo {
      display: flex;
      flex-direction: column;
      align-items: center;

      &_top {
        width: 76px;
        height: 114px;
        margin-bottom: 34px;
        background: url('../images/logo.svg') no-repeat center;
        background-size: contain;
      }

      &_bot {
        width: 309px;
        height: 90px;
      }
    }

    &_bg {
      position: absolute;
      z-index: -1;
      width: 100%;
      height: 100%;
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center center;

      &::before {
        content: '';
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.8);
        z-index: 1;
      }
    }
  }

  &_about {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: relative;

    &_bg {
      position: absolute;
      z-index: -1;
      width: 100%;
      height: 100%;
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center center;

      &::before {
        content: '';
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.8);
        z-index: 1;
      }
    }

    &_content {
      width: 752px;
      max-width: 100%;
    }

    &_title {
      font-size: 28px;
      color: #fff;
      text-transform: uppercase;
      font-weight: 700;
      letter-spacing: 2px;
    }

    &_text {
      font-size: 15px;
      font-weight: 500;
      line-height: 1.6;
      color: #fff;
      margin-top: 24px;
    }

    .container {
      width: initial;
      max-width: 100%;
    }
  }

  &_music {
    display: flex;
    height: 100vh;

    &_content {
      width: 50%;
      padding: 0 20px;
      display: flex;
      align-items: center;
      justify-content: flex-end;
    }

    &_image {
      width: 50%;

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }

    &_block {
      width: 560px;
      max-width: 100%;
    }

    &_title {
      font-size: 28px;
      color: #fff;
      font-weight: 700;
      text-transform: uppercase;
      margin-bottom: 27px;
      letter-spacing: 2px;
    }

    &_services {
      margin-top: 26px;

      &_title {
        margin-bottom: 24px;
        font-size: 15px;
        font-weight: 500;
        color: #fff;
      }

      &_list {
        width: 100%;
        display: flex;
        justify-content: center;
      }
    }

    &_list {
      width: 100%;
      height: 300px;
      background-color: rgba(0, 0, 0, 0.5);
    }
  }

  &_gallery {
    height: 100vh;
    display: flex;

    &_item {
      width: 20%;

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center center;
      }
    }
  }

  &_press {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    padding: 60px 0;

    &_title {
      font-size: 28px;
      font-weight: 700;
      text-align: center;
      text-transform: uppercase;
      color: #fff;
      margin-bottom: 53px;
      letter-spacing: 2.7px;
    }

    &_content {
      display: flex;
    }

    &_details, &_list {
      width: 50%;
    }

    &_details {
      &_img {
        width: 558px;
        max-height: 377px;
        max-width: 100%;
      }

      &_text {
        color: $secondaryColor;
        font-weight: 700;
        font-size: 18px;
        margin-top: 16px;
      }

      &_title {
        margin-top: 8px;
        font-weight: 700;
        color: #fff;
        font-size: 24px;
        line-height: 1.21;
      }
    }

    &_list {
      padding-right: 20px;

      &_item {
        margin-bottom: 53px;

        &:last-child {
          margin-bottom: 0;
        }

        &_source {
          color: $secondaryColor;
          font-weight: 700;
          font-size: 18px;
          margin-bottom: 14px;
        }

        &_title {
          color: #fff;
          font-size: 24px;
          font-weight: 700;
        }
      }
    }
  }

  &_contacts {
    padding-bottom: 100px;

    &_title {
      font-size: 28px;
      color: #fff;
      font-weight: 700;
      text-transform: uppercase;
      margin-bottom: 48px;
      text-align: center;
    }

    &_data {
      display: flex;
    }

    &_img {
      width: 128px;
      height: 128px;
      border-radius: 50%;
      overflow: hidden;
      flex-shrink: 0;
      margin-right: 27px;
    }

    &_user {
      margin-bottom: 36px;
    }

    &_name {
      font-size: 24px;
      font-weight: 700;
      color: $whiteColor;
    }

    &_position {
      font-size: 15px;
      color: $secondaryColor;
      font-weight: 500;
      margin-top: 5px;
    }

    &_contacts {
      display: flex;
      flex-direction: column;
    }

    &_phone, &_email, &_skype {
      font-size: 18px;
      font-weight: 700;
      padding-left: 40px;
      position: relative;
      color: $whiteColor;

      &::before {
        content: '';
        position: absolute;
        width: 24px;
        height: 24px;
        left: 0;
        top: 50%;
        transform: translateY(-50%);
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center center;
      }
    }

    &_phone {
      &::before {
        background-image: url('../images/icons/smartphone.svg');
      }
    }

    &_email {
      margin-top: 22px;
      color: $baseColor;

      &::before {
        background-image: url('../images/icons/mail.svg');
      }
    }

    &_skype {
      margin-top: 28px;

      &::before {
        background-image: url('../images/icons/skype.svg');
      }
    }

    &_content {
      display: flex;
    }

    &_data {
      width: 50%;
    }

    &_form {
      width: 50%;

      &_field {
        margin-bottom: 24px;

        &:last-child {
          margin-bottom: 0;
        }

        textarea, input {
          width: 100%;
          background: $whiteColor;
          border-radius: 4px;
          padding: 0 16px;
          font-weight: 700;
          font-size: 18px;
          color: $darkColor;
          border: 2px solid transparent;
        }

        input {
          height: 56px;
        }

        textarea {
          height: 150px;
          padding: 16px;
          resize: none;
          outline: none;
        }

        button {
          min-width: 261px;
        }
      }
    }
  }

  &_end-section {
    overflow: auto;
    padding-top: 150px;
    height: 100%;
  }
}

.fp-nav {
  right: 7px;
}

#fp-nav, .fp-slidesNav {
  ul {
    li {
      width: initial;
      height: 20px;
      margin: 0;

      a {
        span {
          width: 8px;
          height: 8px;
          margin: 0;
          position: relative;
          top: initial;
          left: initial;
          background: rgba(255, 255, 255, 0.2);
          display: inline-block;
          transition: height 0.3s linear;
        }

        .fp-sr-only {
          display: none;
        }
      }

      &:hover {
        a {
          span {
            width: 8px;
            height: 8px;
            margin: 0;
          }
        }
      }
    }
  }

  &.fp-right {
    right: 62px;
  }
}

#fp-nav ul li a.active span,
#fp-nav ul li:hover a.active span,
.fp-slidesNav ul li a.active span,
.fp-slidesNav ul li:hover a.active span {
  margin: 0;
  width: 8px;
  border-radius: 4px;
  background: $baseColor;
  height: 20px;
}

@media (max-width: 1200px) {
  .press-kit {
    &_music_content {
      padding-left: 30px;
    }

    &_end-section {
      padding-top: 200px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }
  }

  #fp-nav, .fp-slidesNav {
    &.fp-right {
      right: 7px;
    }
  }
}

@media (max-width: 960px) {
 .press-kit_contacts_data {
   flex-wrap: wrap;
 }
}

@media (max-width: 768px) {
  .press-kit {
    &_music {
      position: relative;
      height: auto;
      min-height: 100vh;

      &_services_list {
        justify-content: flex-start;
        flex-wrap: wrap;
        row-gap: 24px;
      }

      &_content {
        width: 100%;
        position: relative;
        z-index: 2;
      }

      &_block {
        width: 100%;
      }

      &_image {
        position: absolute;
        top: 0;
        bottom: 0;
        right: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 1;

        &::before {
          content: '';
          position: absolute;
          top: 0;
          bottom: 0;
          right: 0;
          left: 0;
          width: 100%;
          height: 100%;
          background: rgba(0, 0, 0, 0.8);
        }
      }
    }

    &_press {
      &_title {
        margin-bottom:37px;
      }

      &_content {
        flex-direction: column;
      }

      &_list {
        width: 100%;
        order: 2;
      }

      &_details {
        width: 100%;
        order: 1;
        margin-bottom: 33px;
      }
    }

    &_gallery {
      flex-direction: column;

      &_item {
        width: 100%;
        height: 25%;
      }
    }

    &_contacts {
      padding: 65px 0;

      &_img {
        margin-bottom: 27px;
      }

      &_data {
        width: 100%;
        margin-bottom: 47px;
      }

      &_form {
        width: 100%;
      }

      &_content {
        flex-direction: column;
      }
    }

    &_start {
      &_title {
        margin-bottom: 129px;
      }
      &_logo {
        &_top {
          width: 52px;
          height: 76px;
          margin-bottom: 23px;
        }

        &_bot {
          width: 204px;
          height: 58px;
        }
      }
    }
  }

  .header_mobile {
    background-color: $darkColor;
  }
}

@media (max-width: 560px) {
  .press-kit {
    &_contacts {
      &_title {
        margin-bottom: 74px;
      }

      &_data {
        flex-direction: column;
      }

      &_form_field {
        button {
          width: 100%;
        }
      }
    }
  }
}